@model IEnumerable<WebApplication3.Models.Category>

@{
    ViewData["Title"] = "Category List";
}

<h2>Category List</h2>

<a asp-action="Create" class="btn btn-primary">Add New Category</a>

<table class="table">
    <thead>
    <tr><th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>